.profile__edit-button {
    background: url("../../../images/edit-button.svg") no-repeat center;
    border: 1px #FFFFFF solid;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 0.5s all ease;
}


.profile__edit-button:hover{
    opacity: 0.6;
}