.profile {
    margin-top: 40px;
    display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 645px) {
    .profile {
        margin-top: 38.25px;
        flex-direction: column;
    }
}