.profile__add-button {
    cursor: pointer;
    background: url("../../../images/vector.svg") no-repeat center;
    border: 2px #FFFFFF solid;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    transition: 0.5s all ease;
    border-radius: 2px;
    background-size: 22px;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 645px) {
    .profile__add-button {
        width: 282px;
        height: 50px;
        background-size: 16px;
    }
}