.popup__close-button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  right: -40px;
  top: -40px;
  background: url('../../../images/close.svg');
  background-size: cover;
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: 0.3s all ease;
}

@media screen and (max-width: 645px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0px;
    top: -36px;
  }
}