.element__like-button {
    cursor: pointer;
    width: 22px;
    height: 19px;
    background: url(../../../images/heart.svg) no-repeat center;
    border: none;
}

.element__like-button:hover {
    opacity: 0.5;
    transition: 0.5s all ease;
}

.card__like-button:active {
	background: url("../../../images/like-button-active.svg");
	opacity: 100%;
}