.profile__info {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	max-width: 336px;
	margin-left: 30px;
}

@media screen and (max-width: 645px) {
	.profile__info {
		margin-bottom: 36px;
		row-gap: 14px;
		margin-left: 0;
	}
}